{% extends 'chat/base.html' %}

{% block content %}
<form action="{{ url_for('create_chat') }}" method="POST">
	<input type="text" name="name" placeholder="Name (optional)">
	<br>
	<textarea placeholder="Content to message idk" rows="4" cols="50" name="content" required></textarea>
	<br>
	<button type="submit">msg</button>
</form>
<hr>
<div style="padding-left: 30px; padding-right: 30px;">
	{% for message in messages %}
	<div style="">
		{% if message.author %}
		<div style="width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap;"><b>{{ message.author }}</b></div>
		{% else %}
		<b>anon</b>
		{% endif %}
		-
		<div style="width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap;"><a href="{{ url_for('chats', hid=message._id) }}">{{ message.content }}</a></div>
	</div>
	<hr>
	{% endfor %}
</div>
{% endblock content %}
