{% extends 'base.html' %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock headers %}

{% block content %}
{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}
{% endif %}
<div class="row mt-5 mx-0">
	<div class="card profile shadow">
		<div class="card-body">
			<h3 class="card-title">moogloof</h3>
			<p class="card-text">{{ random_phrase }}</p>
			<a href="mailto:ethansyun@icloud.com" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Click!">Contact Me</a>
		</div>
	</div>
	<div class="card bg-dark col ml-3 shadow px-0">
		<div class="card-body overflow-auto">
<code>(venv) ~$ pip install tensorflow
Exception: No lol
(venv) ~$ akshfaksldgh</code>
		</div>
	</div>
</div>
<div class="row mt-4 mb-5 mx-0">
	<div class="card p-2 shadow overflow-hidden col-1">
		<img src="{{ url_for('static', filename='Github-Logo.png') }}" class="card-img" alt="github logo">
		<div class="card-img-overlay">
			<a class="stretched-link" href="https://github.com/moogloof"></a>
		</div>
	</div>
	<div class="card p-2 shadow overflow-hidden col-1 ml-3" data-toggle="tooltip" data-placement="top" title="moogloof#3195">
		<img src="{{ url_for('static', filename='Discord-Logo.svg') }}" class="card-img" alt="discord logo">
		<div class="card-img-overlay">
			<a class="stretched-link" href="#"></a>
		</div>
	</div>
	<div class="card p-2 shadow overflow-hidden col-1 ml-3" data-toggle="tooltip" data-placement="top" title="ethansyun@icloud.com">
		<img src="{{ url_for('static', filename='Email-Logo.png') }}" class="card-img" alt="email logo">
		<div class="card-img-overlay">
			<a class="stretched-link" href="mailto:ethansyun@icloud.com"></a>
		</div>
	</div>
</div>
{% endblock content %}
