{% extends 'base.html' %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">
{% endblock headers %}

{% block content %}
{% for project, important_update, updates in projects %}
<div class="row mx-0 rounded mt-5 px-3 py-4 row-cols-2 row-cols-lg-3 d-flex" style="border-style: {{ project.border_style }}; border-width: 4px;">
	<div class="px-3">
		{% if project.background == "dark" %}
		<div class="card h-100 shadow bg-dark text-white">
		{% else %}
		<div class="card h-100 bg-light text-black">
		{% endif %}
			<div class="card-body d-flex flex-column">
				<h5 class="card-title">{{ project.title }}</h5>
				<p class="card-text flex-grow-1">{{ project.description }}</p>
				<a href="{{ project.link }}" class="card-link mt-auto text-center">Project Page</a>
			</div>
		</div>
	</div>
	{% if important_update is not none %}
	<div class="px-3">
		<div class="card h-100 bg-white text-black border-success">
			<div class="card-header d-flex justify-content-between">
				{{ important_update.header }}
				<small class="text-muted">{{ timeago(important_update.date) }}</small>
			</div>
			<div class="card-body d-flex flex-column">
				<h6 class="card-title">{{ important_update.title }}</h6>
				<p class="card-text flex-grow-1">{{ important_update.description }}</p>
			</div>
		</div>
	</div>
	{% else %}
	<div class="px-3">
		<div class="card h-100 bg-white text-black">
			<div class="card-header d-flex justify-content-between">
				{{ updates[0].header }}
				<small class="text-muted">{{ timeago(updates[0].date) }}</small>
			</div>
			<div class="card-body d-flex flex-column">
				<h6 class="card-title">{{ updates[0].title }}</h6>
				<p class="card-text flex-grow-1">{{ updates[0].description }}</p>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="list-group rounded-0 h-100 d-none d-lg-block">
		{% for update in updates %}
		{% if update.important %}
		<a href="#" class="list-group-item list-group-item-action bg-success text-white">
		{% else %}
		<a href="#" class="list-group-item list-group-item-action">
		{% endif %}
			<div class="d-flex w-100 justify-content-between">
				{{ update.header }}
				<small class="text-muted">{{ timeago(update.date) }}</small>
			</div>
			<h5 class="mb-1 overflow-hidden text-nowrap" style="text-overflow: ellipsis;">{{ update.title }}</h5>
			<p class="mb-0 overflow-hidden text-nowrap" style="text-overflow: ellipsis;">{{ update.description }}</p>
		</a>
		{% endfor %}
	</div>
</div>
{% endfor %}
{% endblock content %}
