{% extends 'base.html' %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
{% endblock headers %}

{% block content %}
<div class="row mx-0">
	<div class="card my-5 px-0 col-lg-8 mx-auto shadow">
		<div class="card-body">
			<h3 class="card-title">Projects</h3>
			<ul class="my-0">
				{% for project in projects %}
				<li><a href="{{ url_for('projects', _id=project._id) }}">{{ project.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
