{% extends 'base.html' %}

{% block headers %}
{% endblock headers %}

{% block content %}
<h2 class="text-center my-5">{{ project.title }}</h2>
<p class="w-50 mb-5 text-justify" style="margin: 0 auto;">{{ project.description }}</p>
{% for update in updates %}
{% if update.important %}
<div class="card h-100 bg-white text-black border-success w-50 mb-5" style="margin: 0 auto;">
{% else %}
<div class="card h-100 bg-white text-black w-50 mb-5" style="margin: 0 auto;">
{% endif %}
	<div class="card-header d-flex justify-content-between">
		{{ update.header }}
		<small class="text-muted">{{ timeago(update.date) }}</small>
	</div>
	<div class="card-body d-flex flex-column">
		<h6 class="card-title">{{ update.title }}</h6>
		<p class="card-text flex-grow-1">{{ update.description|markdown }}</p>
	</div>
</div>
{% endfor %}
{% endblock content %}
