{% extends 'base.html' %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
{% endblock headers %}

{% block content %}
{% for project, important_update in projects %}
<div class="row border mx-0 rounded my-5 px-3 py-4 d-flex">
	<div class="px-3 col">
		<div class="card h-100 bg-light text-black">
			<div class="card-body d-flex flex-column">
				<a href="{{ url_for('projects', _id=project._id) }}" class="card-link mb-3">Updates</a>
				<h2 class="card-title">{{ project.title }}</h2>
				<div class="card-text">{{ project.description|markdown }}</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock content %}
